h1{
    font-family: 'Open Sans';
    font-size: 26px; 
    font-weight: 600; 
    text-align: center;
    color: #ffffff;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(signup.jpg);
    margin: auto;
}

form{
    width: 500px;
    margin: auto;
    padding: 18px;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 20px;
}
  
input{
    font-size: 18px;
    width: 100%;
    padding: 16px;
    margin: 6px auto;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    background-color: transparent;
    color: #ffffff;
}

input::placeholder{
    font-size: 18px;
    color: darkgrey;
}
  
input:focus{
    border: 2px solid rgb(5, 56, 91);
    outline: none;
}

span {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto';
    color: rgb(255, 0, 0);
}

ul li{
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
}
  
.button input{
    font-family: 'Open Sans';
    font-size: 22px; 
    font-weight: 600; 
    width: 100%;
    background-color: rgb(151, 11, 11);
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px;
    border-radius: 10px;
    cursor: pointer;
}
  
.button input:hover{
    background-color: rgb(121, 12, 12);
    color: #ffffff;
}

a{
    font-family: 'Open Sans';
    font-size: 20px; 
    font-weight: 600; 
    display: block;
    text-align: center;
    color: #ffffff;
}
  